{% extends 'app/base.html' %}
{% load static %}
{% load humanize %}
{% block main-content %}
<div class="container my-5">
  <div class="row g-4">

    <div class="col-md-5">
        <div class="border rounded p-3 text-center bg-white">
        <img src="{{ product.ImageURL }}"
             class="img-fluid"
             style="max-height:420px; object-fit:contain;">
             <div class="d-flex gap-3 mt-4">
                <button
                    data-product="{{ product.id }}"
                    data-action="add"
                    class="btn btn-danger btn-lg update-cart">
                    🛒 Thêm vào giỏ hàng
                </button>

                <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg">
                    ← Quay lại
                </a>
             </div>
        </div>
        
    </div>
     

    <div class="col-md-7">
      <div class="bg-white p-4 rounded border">

        <h4 class="fw-bold mb-2">{{ product.name }}</h4>

        <div class="fs-3 fw-bold text-danger mb-3">
          {{ product.price_vnd }} đ
        </div>

        <table class="table table-borderless mb-3">
          <tr>
            <td class="text-muted" width="150">Danh mục</td>
            <td>
              {% for c in product.category.all %}
                {{ c.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
          </tr>
        </table>

      </div>
      <br>
      <div class="bg-white p-4 rounded border">
          <h5 class="fw-bold mb-2">Mô tả sản phẩm</h5>

          <p class="text-muted">
            {{ product.detail|linebreaks  }}
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
