{%  extends 'app/base.html'  %}
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    {% block register %}
        <div class="container my-4">
            {% if searched %}
                <h5 class="mb-4 text-muted px-2">Kết quả tìm kiếm cho: "<strong>{{searched}}</strong>"</h5>
            {% endif %}

            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 g-md-4">
                {% for product in keys %}
                <div class="col">
                    {% include 'app/product_card.html' with product=product %}
                </div>
                {% endfor %}
            </div>
        </div>
    {% endblock register %}
    </body>
</html>
